.tab_item {
   position: relative;
}

.button {
   margin: 0 -10px;
   padding: 25px 10px;
   width: calc(100% + 20px);
   display: flex;
   align-items: center;
   justify-content: center;

   font-weight: 600;
   text-align: left;

   position: relative;
   z-index: 1;
   transition: background-color 0.6s ease-out;
}

.active {
   background-color: var(--white);
}

.button svg {
   width: 15px;
   margin-left: 10px;
   align-self: start;
}

.active svg {
   transform: rotate(180deg);
}
