form.form {
   padding: 30px 20px;
   background: var(--graphite);
}

.form input,
.form textarea {
   background: var(--gray-light);
}

.form input::placeholder,
.form textarea::placeholder {
   color: var(--gray);
}

.stars_container {
   margin: 45px 0;
}

.stars {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin: 0 -4px 14px;
   border-radius: 2px;
   padding: 6px 4px;
}

.stars p {
   margin-right: 10px;
   color: var(--white);
}

.stars div {
   width: 120px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.stars svg {
   height: 20px;
   width: auto;
   color: #f2994a;
}

.agreement {
   color: var(--gray-med);
}

button.btn_send {
   outline: 1px solid var(--gray-med);
}

@media (min-width: 360px) {
   .stars {
      margin-bottom: 20px;
   }

   .stars p {
      font-size: 18px;
   }

   .stars div {
      width: 170px;
   }

   .stars svg {
      height: 22px;
   }
}

@media (min-width: 768px) {
   form.form {
      padding: 0;
      background: unset;
   }

   .form input,
   .form textarea {
      background: unset;
   }

   .stars p {
      color: var(--graphite);
   }

   .stars div {
      width: 180px;
   }

   button.btn_send {
      outline: unset;
   }
}

@media (min-width: 992px) {
   .stars {
      margin-bottom: 15px;
   }

   .stars div {
      width: 190px;
   }

   .stars svg {
      height: 25px;
   }
}
