.average {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.total {
    font-size: 26px;
    font-weight: 700;
}

.stars {
    margin: 5px 0 10px;
    width: 154px;
    display: flex;
    gap: 7px;
    color: #F2994A;
}

.stars svg {
    flex-grow: 1;
    height: auto;
}

.clear {
    color: transparent;
}

.bars {
    font-size: 15px;
    font-weight: 500;
}

.bars div {
    margin: 4px 0 10px;
    height: 7px;
    border-radius: 3px;
    background: var(--gray-light);
}

.bars div span {
    display: block;
    border-radius: 3px;
    height: 100%;
    background: #F2994A;
}

@media (min-width: 992px) {
    .average {
        margin-bottom: 35px;
        font-size: 20px;
    }

    .total {
        font-size: 36px;
    }

    .stars {
        width: 180px;
        gap: 8px;
    }

    .bars {
        font-size: 17px;
        font-weight: 400;
    }

    .bars div {
        margin: 4px 0 12px;
        height: 8px;
        border-radius: 4px;
    }
}

@media (min-width: 1400px) {
    .total {
        font-size: 44px;
    }

    .bars {
        font-size: 18px;
        font-weight: 500;
    }

    .bars div {
        margin: 5px 0 14px;
        height: 10px;
        border-radius: 5px;
    }

    .bars div span {
        border-radius: 5px;
    }
}