.tab {
   margin: 0 -10px 10px;
   padding: 10px 10px 15px;
   width: calc(100% + 20px);
   background-color: var(--white);
}

.tab address {
   padding-bottom: 10px;
   color: var(--gray);
   line-height: 1.5;
   font-weight: 500;
}

.link {
   margin-top: 18px;
   display: flex;
   font-weight: 500;
}

.link svg {
   color: var(--grey);
   margin-right: 20px;
}

.link:hover svg {
   color: var(--red);
}

@media (min-width: 1200px) {
   .tab {
      display: none;
      padding: 74px 30px 25px;
      position: absolute;
      top: 10px;
      opacity: 0;
   }

   .open {
      display: block;
      animation: tabContent 0.1s ease-out forwards;
   }

   @keyframes tabContent {
      to {
         top: 0px;
         opacity: 1;
      }
   }
}
