.container {
   padding: 10px;
   border-bottom: 1px solid var(--gray-med);
   background-color: var(--light);
   transition: background-color 0.2s ease-out;
}

.container img {
   margin: 0 auto;
   width: 100%;
   max-width: 220px;
}

.container h2 {
   font-size: 14px;
   font-weight: 500;
}

.price {
   margin-top: 14px;
   font-size: 17px;
}

.price svg {
   margin-left: 5px;
   display: inline;
   height: 12px;
   width: auto;
}

.promo {
   margin-left: 10px;
   color: #f2994a;
   font-weight: 500;
}

.count {
   margin-top: 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.count div {
   padding: 5px;
   display: flex;
   align-items: center;
   background: var(--gray-light);
}

.count span {
   margin: 0 4px;
   min-width: 25px;
   text-align: center;
}

.clear svg {
   padding: 6px;
}

.container button:hover {
   color: var(--red);
}

.hover {
   background-color: var(--white);
   box-shadow: 0 0 5px #0000001a;
}

@media (min-width: 340px) {
   .container h2 {
      font-size: 16px;
   }

   .price {
      font-size: 18px;
      font-weight: 500;
   }

   .price svg {
      height: 13px;
   }
}

@media (min-width: 576px) {
   .container {
      display: grid;
      grid-template: auto / 100px 1fr 100px;
      column-gap: 15px;
   }

   .container h2 {
      margin-top: 10px;
   }

   .count {
      height: 100%;
      margin-top: 0;
      padding-top: 10px;
      flex-direction: column;
      align-items: flex-end;
   }

   .count div {
      order: 1;
   }
}

@media (min-width: 1200px) {
   .container {
      padding: 10px 20px;
      grid-template: auto / 120px 1fr 100px;
      column-gap: 20px;
   }

   .container h2 {
      font-size: 18px;
   }
}

@media (min-width: 1400px) {
   .container {
      padding: 10px 30px;
      grid-template: auto / 130px 1fr 100px;
      column-gap: 25px;
   }

   .container h2 {
      font-size: 20px;
      margin-top: 25px;
   }
}

@media (min-width: 1600px) {
   .container {
      padding: 10px 40px;
      column-gap: 35px;
   }
}
