.wrapper {
    margin-top: 80px;
    display: grid;
    grid-gap: 40px;
}

.row {
    display: grid;
    grid-gap: 8px;
}

.row a {
    padding: 5px 0;
    font-weight: 500;
}

.row p {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

@media (min-width: 576px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .brands {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-column: 1 / span 2;
    }

    .brands p {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 992px) {
    .wrapper {
        margin-top: 80px;
        grid-template-columns: repeat(2, minmax(auto, 550px)) 238px;
        justify-content: center;
    }
    
    .brands {
        grid-template-columns: unset;
        grid-column: unset;
    }
    
    .brands p {
        grid-column: unset;
    }
}