.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 220px calc(100% - 240px);
    column-gap: 20px;
}

.slider {
    grid-area: 1 / 2 / -1 / -1;
}

.swiper {
    height: 100%;
    user-select: none;
}

.slider_item {
    height: unset !important;
    display: grid;
    grid-template-rows: 160px;
    grid-auto-rows: 1fr;

    border-radius: 3px;
    box-shadow: inset 0 0 5px 0 var(--gray-light);
    background-color: var(--light);
    position: relative;
}

.container p {
    padding: 3px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.specs {
    grid-area: 1 / 1 / 1 / -1;
    padding-top: 160px;

    display: grid;
    grid-auto-rows: 1fr;
    z-index: 2;
    pointer-events: none;
}

.specs span {
    border-bottom: 1px dashed var(--gray-light);
}

.specs p {
    max-width: 220px;
    font-weight: 500;
}

.link {
    margin: 10px auto;
}

.link:hover {
    border-radius: 2px;
    box-shadow: 0 0 5px 0 var(--gray-med);
}

.link img {
    width: 150px;
}

.button {
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.button svg {
    width: 20px;
    height: auto;
}

.button:hover {
    color: var(--red);
}

@media (min-width: 992px) {
    .container p {
        padding: 4px 8px;
        font-size: 14px;
    }
}