.container {
   margin-top: 30px;
   display: grid;
   grid-template-columns: 100%;
}

.slider {
   grid-area: 1 / 1 / 1 / -1;
   margin-left: 240px;
}

.swiper {
   height: 100%;
}

.slider_item {
   position: relative;
}

.container p {
   padding: 3px 5px;
   height: 100%;
   display: flex;
   align-items: center;
   font-size: 13px;
}

.specs {
   grid-area: 1 / 1 / 1 / -1;
   padding-top: 160px;
   display: grid;
   grid-auto-rows: 1fr;
   z-index: 2;
   pointer-events: none;
}

.specs li {
   border-bottom: 1px dashed var(--gray-light);
}

.specs p {
   max-width: 220px;
   font-weight: 500;
}

.button {
   padding: 10px;
   position: absolute;
   top: 5px;
   right: 5px;
}

.button svg {
   width: 20px;
   height: auto;
}

.button:hover {
   color: var(--red);
}

@media (min-width: 992px) {
   .container p {
      padding: 4px 8px;
      font-size: 14px;
   }
}
