.wrapper {
    height: 100%;
    flex-grow: 1;
}

.link_logo {
    padding: 25px 0 40px;
    display: flex;
    justify-content: center;
}

.background {
    background-color: var(--gray-light);
}

.row {
    margin-bottom: 30px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row svg {
    display: none;
}

.wrapper p {
    margin-top: 40px;
}

.title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
}

.link {
    font-size: 18px;
    font-weight: 500;
    color: var(--red);
}

.link:hover {
    color: var(graphite);
}

@media (min-width: 576px) {
    .title {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 70px;
    }
}

@media (min-width: 1200px) {
    .row {
        margin: 0 auto;
        padding: 0;
        max-width: 1000px;
    }

    .row svg {
        padding-top: 40px;
        display: block;
    }
}