.slider img {
    width: 100%;
    object-fit: contain;
}

.thumbs {
    margin-left: -10px;
}

.thumbs>div {
    padding: 5px 10px;
}

.thumb {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 var(--gray-med);
    background: var(--white);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb:hover {
    box-shadow: 0 0 3px 0 var(--gray);
}

.thumb img {
    opacity: 0.15;
    border-radius: 5px;
}

.thumb::before {
    border-radius: 5px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #d2d2d2;
}

@media (min-width: 360px) {
    .thumbs {
        margin-left: -5px !important;
    }

    .thumbs>div {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .slider {
        grid-row: 1 / 3;
    }
}