.partners {
   &__link {
      display: block;
      margin-top: 25px;
      margin-bottom: 35px;

      span {
         justify-content: center;
      }

      img {
         height: 200px;
         object-fit: cover;
         object-position: center;
      }
   }

   @media (min-width: 576px) {
      &__link img {
         height: 250px;
      }
   }

   @media (min-width: 768px) {
      &__link {
         margin-top: 10px;
         margin-bottom: 40px;

         img {
            height: 280px;
         }
      }
   }

   @media (min-width: 992px) {
      &__link {
         margin: 15px auto 60px;
         max-width: 960px;
      }
   }

   @media (min-width: 1200px) {
      &__link img {
         height: 300px;
      }
   }
}