.card {
    display: grid;
    background-color: #f0f0f0;
    position: relative;
}

.title {
    padding: 10px 15px 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.link {
    margin: 0 15vw;
    /* outline-color: transparent; */
}

.new_item::after,
.promo::before {
    position: absolute;
    left: 0;
    padding: 3.5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
}

.promo::before {
    content: 'Акция';
    bottom: 115px;
    background-color: #F2994A;
}

.new_item::after {
    content: 'Новинка';
    bottom: 90px;
    background-color: #2D9CDB;
}

.link img {
    width: 100%;
}

.price {
    padding: 0 15px 10px;
    font-size: 18px;
}

.button {
    justify-content: center;
    font-size: 14px;
    padding: 10px 0;
}

.button svg {
    width: 20px;
    height: 20px;
}

@media (min-width: 340px) {
    .title {
        padding: 20px 15px 0;
        font-size: 16px;
    }
}

@media (min-width: 360px) {
    .title,
    .price {
        padding: 0 10px 5px;
        text-align: left;
    }

    .link {
        margin: 0 5vw;
        order: -1;
    }

    .promo::before {
        top: 40px;
        bottom: unset;
    }

    .new_item::after {
        top: 15px;
        bottom: unset;
    }
}

@media (min-width: 768px) {
    .title,
    .price {
        padding: 0 15px 8px;
    }

    .price {
        font-size: 20px;
    }

    .title {
        font-size: 18px;
    }

    .promo::before {
        top: 45px;
    }

    .new_item::after {
        top: 20px;
    }
}

@media (min-width: 992px) {
    .title,
    .price {
        padding: 0 20px 12px;
    }

    .title {
        font-weight: 700;
    }

    .promo::before {
        top: 50px;
    }

    .new_item::after {
        top: 25px;
    }
}

@media (min-width: 1200px) {
    .card {
        background-color: #f1f0ed;
        transition: all 0.2s ease-out;
    }

    .card.hover {
        background-color: var(--white);
        box-shadow: 0 0 5px #00000015;
    }

    .card.hover img {
        filter: drop-shadow( -1px 1px 5px #00000015);
    }

    .card img {
        transition: filter 0.2s ease-out;
    }

    .link {
        margin: 0 70px;
    }

    .title {
        padding: 0 25px 8px;
    }

    .price {
        padding: 0 25px 14px;
    }

    .button {
        justify-content: flex-start;
        font-size: 16px;
        padding: 15px 30px;
    }

    .button svg {
        width: 25px;
        height: 25px;
    }

    .new_item::after,
    .promo::before {
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 500;
    }

    .promo::before {
        top: 60px;
    }

    .new_item::after {
        top: 30px;
    }

    /* --------------------------------------------------- */
    .row.card {
        display: grid;
        grid-template: minmax(auto, 100px) auto 1fr / 1fr 0.857fr;
    }

    .row.card.hover {
        background-color: var(--white);
    }

    .row .link {
        margin: 10px 40px 10px 40px;
        grid-row: 1 / -1;
    }

    .row .button {
        align-self: end;
    }

    .row .title {
        align-self: end;
        padding: 30px 30px 0 0;
        font-size: 24px;
    }

    .row .price {
        padding: 14px 30px 0 0;
        font-size: 26px;
    }
}