.information {
   &__cards {
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      a {
         flex-grow: 1;
         flex-basis: 248px;
      }
   }

   @media (min-width: 576px) {
      &__cards {
         gap: 10px;
      }
   }

   @media (min-width: 768px) {
      &__cards {
         padding-top: 10px;
         gap: 20px;
      }
   }

   @media (min-width: 992px) {
      &__cards img {
         height: 350px;
         object-fit: cover;
         object-position: top;
      }
   }

   @media (min-width: 1200px) {
      &__cards {
         gap: 50px;
      }
   }

   @media (min-width: 1400px) {
      &__cards img {
         height: 400px;
      }
   }
}