.menu {
    width: 100%;
    padding-bottom: 30px;
}

.links_container {
    margin: 40px 0 0;
}

@media (min-width: 340px) {
    .links_container a {
        font-weight: 700;
        font-size: 17px;
    }
}