.logo {
    position: relative;
}

.svg {
    width: 52px;
    height: 33px;
    display: none;
    position: absolute;
    top: 26px;
    right: -40px;
}

@media (min-width: 280px) {
    .svg {
        display: block;
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .svg {
        top: 30px;
        right: -50px;
    }
}

@media (min-width: 1400px) {
    .svg {
        height: 43px;
        width: auto;
        top: 38px;
        right: -60px;
    }

    .crown {
        height: 55px;
        width: auto;
    }
}