.link_contaier {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.link_contaier svg {
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

.link_contaier button {
    height: 100%;
    padding-bottom: 25px;
    flex-shrink: 0;
    width: 50px;
    margin-left: 20px;
}

.link_contaier button:hover {
    color: var(--gray-med);
}

.link {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 17px;
}

