.wrapper {
    height: 100%;
    flex-grow: 1;
}

.link_logo {
    padding: 25px 0 40px;
    display: flex;
    justify-content: center;
}

.background {
    background-color: var(--gray-light);
}

.row {
    margin-bottom: 30px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row svg {
    display: none;
}

.wrapper span {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-med);
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--white);
}

.links {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 60px;
}

.link {
    font-weight: 500;
    color: var(--red);
}

.link:hover {
    color: var(graphite);
}

@media (min-width: 340px) {
    .title {
        font-size: 32px;
        line-height: 1.2;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 50px;
    }

    .wrapper span {
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 70px;
        line-height: 1.1;
    }
}

@media (min-width: 1200px) {
    .row {
        padding: 0;
    }

    .row svg {
        margin: 0 auto;
        padding-top: 40px;
        display: block;
    }
}