.title {
    padding-right: 10px;
    padding-left: 10px;
}

.slide {
    padding: 0 10px;
    height: unset !important;
}

.spinner {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .title {
        padding-right: 20px;
        padding-left: 20px;
    }

    .slide {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .title {
        padding-right: 35px;
        padding-left: 35px;
    }
}

@media (min-width: 1200px) {
    .title {
        padding-right: 0;
        padding-left: 0;
    }

    .slide {
        padding: 0;
    }
}