.date {
    margin-top: 20px;
    font-weight: 500;
    color: var(--gray-med);
}

@media (max-width: 340px) {
    .title {
        font-size: 14px;
    }
}

@media (min-width: 340px) and (max-width: 420px) {
    .title {
        font-size: 22px;
    }
}

@media (min-width: 576px) {
    .date {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .date {
        font-size: 20px;
    }
}