.date {
    margin-top: 20px;
    font-weight: 500;
    color: var(--gray-med);
}

@media (max-width: 340px) {
    .container .title {
        font-size: 16px;
    }
    
    .container .sub_title {
        font-size: 16px;
        font-weight: 600;
    }
}

@media (min-width: 340px) and (max-width: 420px) {
    .container .title {
        font-size: 20px;
    }

    .container .sub_title {
        font-size: 18px;
        font-weight: 600;
    }
}

@media (min-width: 576px) {
    .date {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .date {
        font-size: 20px;
    }
}