.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.products {
    display: grid;
    align-content: start;
    gap: 10px;
}

.products_heading {
    margin-bottom: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray-light);
    text-transform: lowercase;
}

.select {
    order: 1;
    width: 100%;
}

.button,
.reset {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--gray-light);
}

.button svg,
.reset svg {
    margin-left: 6px;
    height: 15px;
    width: 20px;
    color: var(--gray-med);
}

.reset {
    transition: opacity 0.3s linear;
}

.disabled {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 340px) {
    .products {
        gap: 15px
    }
}

@media (min-width: 360px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }

    .products_heading {
        grid-column: 1 / -1;
    }
}

@media (min-width: 576px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .select {
        order: unset;
        width: 240px;
    }
    
    .reset {
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .products_heading {
        font-size: 17px;
    }

    .select {
        width: 260px;
    }
}

@media (min-width: 1200px) {
    .products {
        grid-template-columns: 1fr;
    }

    .products_heading {
        margin-bottom: 0;
    }

    .reset:hover {
        border-color: var(--gray-med);
    }

    .tiles {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media (min-width: 1400px) {
    .tiles {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .products_heading {
        font-size: 18px;
    }

    .select {
        width: 320px;
    }
}

@media (min-width: 1920px) {
    .products_heading {
        font-size: 19px;
    }
}