@media (min-width: 576px) {
    .wide {
        grid-column: 1 / span 2;
    }

    .wide img {
        max-height: 43vw;
        object-fit: cover;
        object-position: center
    }
}

@media (min-width: 1200px) {
    .wide img {
        max-height: 500px;
    }

    .wide p {
        font-size: 28px !important;
    }

    .wide time {
        font-size: 18px !important;
        line-height: 1.8 !important;
    }
}