.title1,
.title2,
.title3 {
   font-size: 20px;
   text-transform: uppercase;
   color: var(--gray);
}

.title1 {
   margin-bottom: 25px;
}

.title2 {
   margin-top: 40px;
   margin-bottom: 8px;
}

.title3 {
   margin: 0 -10px;
   margin-top: 50px;
   padding: 15px 10px 5px;
   font-weight: 500;
   background-color: var(--gray-light);
}

.collapsible {
   margin: 0 -10px;
}
