.container {
    margin: 20px -10px;
    display: grid;
    grid-template-columns: 100%;
}

.slider_left {
    grid-area: 1 / 1 / -1 / -1;
}

.container p {
    display: flex;
    align-items: center;
}

.specs {
    grid-area: 1 / 1 / 1 / -1;
    padding-top: 120px;

    display: grid;
    grid-auto-rows: 1fr;
    z-index: 2;
    pointer-events: none;
}

.specs p {
    justify-content: center;
    height: 25px;
    font-size: 13px;
    font-weight: 500;
    background-color: var(--gray-light);
}

@media (min-width: 300px) {
    .container {
        grid-template-columns: repeat(2, calc(50% - 5px));
        column-gap: 10px;
    }

    .slider_left {
        grid-area: 1 / 1 / -1 / 2;
    }

    .slider_right {
        grid-area: 1 / 2 / -1 / -1;
    }
}

@media (min-width: 576px) {
    .specs {
        grid-area: 1 / 1 / 1 / -1;
        padding-top: 140px;

        display: grid;
        grid-auto-rows: 1fr;
        z-index: 2;
        pointer-events: none;
    }

    .specs p {
        height: 30px;
        font-size: 14px;
    }
}