@font-face {
   font-family: 'Montserrat';
   font-weight: 300;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat Light'),
      url('/assets/fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
   font-family: 'Montserrat';
   font-weight: normal;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat Regular'),
      url('/assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Montserrat';
   font-weight: 500;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat Medium'),
      url('/assets/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
   font-family: 'Montserrat';
   font-weight: 600;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat SemiBold'),
      url('/assets/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
   font-family: 'Montserrat';
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat Bold'),
      url('/assets/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
   font-family: 'Montserrat';
   font-weight: 800;
   font-style: normal;
   font-display: swap;
   src: local('Montserrat ExtraBold'),
      url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff');
}