.menu-button {
   margin-top: 5px;
   width: 100%;
   padding: 14px 5px 14px 10px;
   text-align: left;
   background-color: #111;
   transition: background-color 0.08s linear;
}

.menu-link {
   padding: 10px;
   display: block;
   margin-bottom: 8px;
   line-height: 1.5;
   font-weight: 300;
   transition: background-color 0.08s linear;
}

.menu-button:hover,
.menu-link:hover {
   background-color: #222;
   transition: none;
}

@media (min-width: 340px) {
   .menu-button {
      padding: 14px 10px 14px 25px;
      font-weight: 700;
      font-size: 17px;
   }

   .menu-link {
      padding: 10px 25px;
   }
}

@media (min-width: 360px) {
   .menu-button {
      padding: 14px 20px 14px 25px;
   }
}

@media (min-width: 1200px) {
   .menu-button {
      font-weight: 500;
   }
}


.menu {
   width: 100%;
   padding-bottom: 30px;

   &__links-container {
      margin: 40px 0 0;
   }

   &__link {
      margin: 5px 0 0 !important;
   }

   &__collapsible-links {
      padding-top: 10px;
      padding-bottom: 2px;
      margin-bottom: 15px;
      background-color: #151515;
   }

   .active {
      text-decoration: underline;
   }

   .Collapsible__trigger {
      @extend .menu-button;

      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
         margin-left: 5px;
         flex-shrink: 0;
         width: 15px;
         color: var(--gray);
      }

      &.is-open svg {
         transform: rotateZ(180deg)
      }
   }

   @media (min-width: 340px) {
      &__links-container a {
         font-weight: 700;
         font-size: 17px;
      }

      &__link {
         font-weight: 700;
         font-size: 17px;
      }
   }
}

