.card {
    background-color: var(--gray-light);
}

.img {
    padding: 10px;
    width: 100%;
}

.card_text {
    padding: 0 15px 10px 10px;
}

.name {
    font-weight: 800;
}

.price {
    margin-top: 5px;
}

.button {
    padding: 15px 20px;
}

@media (min-width: 340px) {
    .img {
        padding: 15px;
    }

    .card_text {
        padding: 0 30px 15px 20px;
    }

    .name {
        font-size: 18px;
    }

    .price {
        margin-top: 10px;
        font-size: 20px;
    }

    .button {
        padding: 20px 30px;
    }
}

@media (min-width: 576px) {
    .card {
        display: grid;
        grid-template: 1fr auto / 1fr 1fr;
    }

    .link {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img {
        padding: 10px;
        grid-area: 1 / 1 / -1 / 2;
        align-self: center;
        max-width: 380px;
    }

    .card_text {
        margin-bottom: 60px;
        padding: 20px 20px 15px 0;
    }

    .button {
        padding: 15px 20px;
        grid-area: 2 / 2 / -1 / -1;
    }
}

@media (min-width: 768px) {
    .card {
        grid-template-columns: 1fr 0.9fr;
    }

    .link {
        grid-template-columns: 1fr 0.9fr;
    }

    .card_text {
        margin-bottom: 70px;
        padding: 40px 30px 15px 0;
    }
    
    .price {
        margin-top: 20px;
    }

    .button {
        padding: 20px 30px;
    }
}

@media (min-width: 992px) {
    .img {
        margin-left: 40px;
    }

    .name {
        font-size: 22px;
    }

    .price {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    .img {
        margin-left: 0;
        justify-self: center;
    }

    .name {
        font-size: 18px;
    }

    .price {
        font-size: 20px;
    }

    /* tiles ----------------------- */
    .tiles {
        display: block;
        position: relative;
    }

    .tiles .link {
        display: block;
        position: relative;
        z-index: 1;
        background-color: var(--gray-light);
    }

    .tiles .img {
        padding-top: 20px;
        max-width: unset;
    }

    .tiles .card_text {
        margin-bottom: 0;
        padding: 10px 30px 30px;
    }

    .tiles .price {
        margin-top: 10px;
    }

    .tiles .button {
        height: 70px;
        padding: 0 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
    }

    .tiles.card:hover .button {
        z-index: 2;
        bottom: -60px;
        opacity: 0;
        animation: button 0.3s ease-out 0.4s forwards;
    }

    @keyframes button {
        to {
            opacity: 1;
            bottom: -70px;
        }
    }
}