.compare {
   min-height: 600px;
}
/////////////////////////////////////////
.compare {
   &__view-phone {
      margin: 20px -10px;
      display: grid;
      grid-template-columns: 100%;

      p {
         display: flex;
         align-items: center;
      }
   }

   &__view-phone-slider-left {
      grid-area: 1 / 1 / -1 / -1;
   }

   &__view-phone-specs {
      grid-area: 1 / 1 / 1 / -1;
      padding-top: 120px;

      display: grid;
      grid-auto-rows: 1fr;
      z-index: 2;
      pointer-events: none;

      p {
         justify-content: center;
         height: 25px;
         font-size: 13px;
         font-weight: 500;
         background-color: var(--gray-light);
      }
   }

   &__view-phone-slider {
      span {
         padding: 28px 3px 3px 5px;
         font-size: 13px;
      }

      p {
         height: 100%;
         min-height: 25px;
         padding-left: 5px;
      }
   }

   &__view-phone-slider_item {
      height: unset !important;
      display: grid;
      grid-template-rows: 120px;
      grid-auto-rows: 1fr;
   
      border-radius: 3px;
      box-shadow: inset 0 0 5px 0 var(--gray-light);
      background-color: var(--light);
   }

   &__view-phone-link {
      margin: 5px auto;

      &:hover {
         border-radius: 2px;
         box-shadow: 0 0 5px 0 var(--gray-med);
      }

      img {
         width: 110px;
      }
   }

   &__view-phone-button {
      padding: 10px;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
         color: var(--red);
      }

      svg {
         width: 20px;
         height: auto;
      }
   }

   @media (min-width: 300px) {
      &__view-phone {
         grid-template-columns: repeat(2, calc(50% - 5px));
         column-gap: 10px;
      }

      &__view-phone-slider-left {
         grid-area: 1 / 1 / -1 / 2;
      }

      &__view-phone-slider-right {
         grid-area: 1 / 2 / -1 / -1;
      }
   }

   @media (min-width: 576px) {
      &__view-phone-specs {
         grid-area: 1 / 1 / 1 / -1;
         padding-top: 140px;

         display: grid;
         grid-auto-rows: 1fr;
         z-index: 2;
         pointer-events: none;

         p {
            height: 30px;
            font-size: 14px;
         }
      }

      &__view-phone-slider_item {
         grid-template-rows: 140px;
      }

      &__view-phone-slider span {
         padding: 33px 3px 3px 5px;
         font-size: 14px;
      }
   }
}
/////////////////////////////////////////
.compare {
   &__view-large-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 100%;

      p {
         padding: 3px 5px;
         height: 100%;
         display: flex;
         align-items: center;
         font-size: 13px;
      }
   }

   &__view-large-specs {
      grid-area: 1 / 1 / 1 / -1;
      padding-top: 160px;
      display: grid;
      grid-auto-rows: 1fr;
      z-index: 2;
      pointer-events: none;

      li {
         border-bottom: 1px dashed var(--gray-light);
      }

      p {
         max-width: 220px;
         font-weight: 500;
      }
   }

   &__view-large-slider {
      grid-area: 1 / 1 / 1 / -1;
      margin-left: 240px;
   }

   &__view-large-swiper {
      height: 100%;
   }

   &__view-large-slider-item {
      position: relative;
   }

   &__view-large-button {
      padding: 10px;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
         color: var(--red);
      }

      svg {
         width: 20px;
         height: auto;
      }
   }

   &__view-large-slide-content {
      height: 100%;
      display: grid;
      grid-template-rows: 160px;
      grid-auto-rows: 1fr;

      border-radius: 3px;
      box-shadow: inset 0 0 5px 0 var(--gray-light);
      background-color: var(--light);
      transition: background-color 0.2s ease-out;

      &.hover {
         background-color: var(--white);
         box-shadow: inset 0 0 5px #00000020;
      }
   }

   &__view-large-link {
      margin: 10px auto;
   
      img {
         width: 150px;
      }
   }

   @media (min-width: 992px) {
      &__view-large-container p {
         padding: 4px 8px;
         font-size: 14px;
      }
   }
}