.loader {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--graphite);
   color: var(--white);

   svg {
      width: 40%;
      height: auto;
      min-width: 230px;
   }
}

.logo {
   position: relative;

   &__pr {
      display: none;
      width: 52px;
      height: 33px;
      position: absolute;
      top: 26px;
      right: -40px;
   }

   @media (min-width: 340px) {
      &__pr {
         display: block;
         pointer-events: none;
      }
   }

   @media (min-width: 1400px) {
      &__pr {
         height: 40px;
         width: auto;
         top: 36px;
         right: -50px;
      }

      &__crown {
         height: 48px;
         width: auto;
      }
   }
}

.title {
   padding-bottom: 15px;
   font-size: 28px;
   font-weight: 700;
   text-transform: uppercase;
}

.title-1 {
   padding-bottom: 10px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 24px;
}

@media (min-width: 576px) {
   .title {
      padding-bottom: 25px;
      font-size: 32px;
   }

   .title-1 {
      padding-bottom: 15px;
      font-size: 26px;
   }
}

@media (min-width: 768px) {
   .title {
      padding-bottom: 30px;
      font-size: 36px;
   }

   .title-1 {
      font-weight: 700;
   }
}

@media (min-width: 1200px) {
   .title {
      padding-bottom: 40px;
      font-size: 40px;
   }
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;

   @media (min-width: 768px) {
      padding: 0 20px;
   }

   @media (min-width: 992px) {
      padding: 0 35px;
   }

   @media (min-width: 1200px) {
      padding: 0 20px;
      max-width: 1160px;
   }

   @media (min-width: 1400px) {
      max-width: 1320px;
   }

   @media (min-width: 1600px) {
      max-width: 1480px;
   }

   @media (min-width: 1920px) {
      max-width: 1640px;
   }
}

.breadcrumbs {
   padding: 220px 0 50px;
   color: var(--gray);
   font-size: 14px;
   white-space: nowrap;

   a {
      padding: 3px 0;
      color: var(--red);

      &:hover {
         color: var(--graphite);
      }
   }

   @media (min-width: 768px) {
      padding-top: 215px;
      font-size: 16px;
   }

   @media (min-width: 1400px) {
      padding-top: 230px;
      font-size: 17px;
   }
}

.react-tabs__tab-list {
   display: flex;
   border-bottom: 1px solid var(--gray-light);
   gap: 45px;
   font-size: 17px;
   font-weight: 500;
   color: var(--gray-med);
}

.react-tabs__tab {
   padding: 12px 0 6px;
   position: relative;
   cursor: pointer;
   border-bottom: 3px solid transparent;
   transition: border-color 0.08s linear;
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: transparent;
   outline: none;

   &:focus-visible {
      border-color: var(--black);
   }
}

.react-tabs__tab--selected {
   color: var(--graphite);
   border-color: var(--red);
}

.react-tabs__tab:hover {
   border-color: var(--red);
}

@media (min-width: 992px) {
   .react-tabs__tab-list {
      font-size: 18px;
   }
}

@media (min-width: 1400px) {
   .react-tabs__tab-list {
      gap: 55px;
      font-size: 20px;
   }
}

.button-form {
   width: 100%;
   padding: 12px 0;

   font-size: 16px;
   color: var(--white);
   background-color: var(--graphite);
   outline: none;
   transition: 0.05s linear;

   &:focus-visible,
   &:hover {
      background-color: var(--red);
   }

   @media (min-width: 1400px) {
      padding: 15px 0;
      font-size: 18px;
   }
}

.section-container {
   margin-top: 60px;

   @media (min-width: 768px) {
      margin-top: 80px;
   }

   @media (min-width: 1200px) {
      margin-top: 110px;
   }
}

.article {
   b {
      padding-bottom: 20px;
      display: block;
      font-weight: 600;
   }

   b,
   p,
   ul {
      line-height: 1.5;
      font-size: 15px;
   }

   p {
      padding-bottom: 10px;
   }

   ul {
      padding-bottom: 10px;
      padding-left: 18px;
   }

   li {
      padding-bottom: 10px;
      list-style-type: disc !important;

      &::marker {
         color: var(--red);
      }
   }

   span {
      font-weight: 600;
   }

   a {
      color: var(--red);
   }

   a:hover {
      color: var(--graphite);
   }

   @media (min-width: 576px) {
      b {
         padding-bottom: 40px;
      }

      p,
      ul {
         padding-bottom: 30px;
      }

      li {
         padding-bottom: 15px;
      }

      b,
      p,
      ul {
         font-size: 17px;
      }

      ul {
         padding-left: 30px;
      }
   }

   @media (min-width: 992px) {
      b,
      p,
      ul {
         font-size: 19px;
      }

      ul {
         padding-left: 70px;
      }
   }

   @media (min-width: 1200px) {
      padding-left: 200px;
      max-width: 1050px;
   }

   @media (min-width: 1400px) {
      max-width: 1200px;

      b,
      p,
      ul {
         font-size: 20px;
      }

      ul {
         max-width: 900px;
      }
   }

   @media (min-width: 1600px) {
      max-width: 1300px;

      ul {
         max-width: 1000px;
      }
   }

   @media (min-width: 1800px) {
      max-width: 1450px;
   }
}

.article-date {
   display: block;
   padding-bottom: 10px;
   font-size: 20px;
   color: var(--gray);

   @media (min-width: 1200px) {
      margin-bottom: -38px;
   }
}

.image-container {
   padding-bottom: 20px;
   display: grid;
   gap: 20px;
   justify-content: center;
}

@media (min-width: 576px) {
   .image-container {
      padding-bottom: 30px;
      grid-auto-flow: column;
   }
}

@media (min-width: 1200px) {
   .image-container {
      gap: 50px;
   }
}

.rc-collapse-header {
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: transparent;
}

.form {
   margin: 0 -10px;
   padding: 20px 10px;
   background-color: var(--gray-light);

   label {
      display: block;
      margin-bottom: 15px;
      position: relative;
   }
}

.form-message {
   padding-top: 3px;
   font-size: 14px;
   color: var(--red);
}

.form-invalid {
   border-radius: 4px;
   outline-offset: -2px;
   outline: 2px solid var(--red);
}

.form-agreement {
   padding-left: 10px;
   margin-top: 10px;
   font-size: 14px;

   &::before {
      content: '*';
      margin-left: -10px;
      margin-right: 5px;
   }
}

@media (min-width: 768px) {
   .form {
      margin: 0;
      padding: 0;
      background-color: transparent;
   }

   .form-message {
      padding: 0 10px;

      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 40%);

      font-size: 14px;
      background-color: var(--white);
   }
}

.delivery-iframe {
   margin-top: 50px;

   @media (min-width: 992px) {
         margin-top: 90px;
   }
}

.delivery-tabs {
   margin-bottom: 40px;
}

.empty {
   display: grid;
   align-items: center;
   justify-items: center;
   height: 300px;

   span {
      grid-area: 1 / 1 / -1 / -1;
      padding-bottom: 50px;
      font-size: 50px;
      color: rgba(51, 51, 51, 0.227)
   }

   svg {
      grid-area: 1 / 1 / -1 / -1;
      margin: 0 auto;
   }
}