.loader {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--graphite);
   color: var(--white);

   svg {
      width: 40%;
      height: auto;
      min-width: 230px;
   }
}

//////////////////////////////////////////// logo
.logo {
   position: relative;

   &__pr {
      display: none;
      width: 52px;
      height: 33px;
      position: absolute;
      top: 26px;
      right: -40px;
   }

   @media (min-width: 340px) {
      &__pr {
         display: block;
         pointer-events: none;
      }
   }

   @media (min-width: 1400px) {
      &__pr {
         height: 40px;
         width: auto;
         top: 36px;
         right: -50px;
      }

      &__crown {
         height: 48px;
         width: auto;
      }
   }
}

//////////////////////////////////////////// breadcrumbs
.breadcrumbs {
   padding: 220px 0 50px;
   color: var(--gray);
   font-size: 14px;
   white-space: nowrap;

   a {
      padding: 3px 0;
      color: var(--red);

      &:hover {
         color: var(--graphite);
      }
   }

   @media (min-width: 768px) {
      padding-top: 215px;
      font-size: 16px;
   }

   @media (min-width: 1400px) {
      padding-top: 230px;
      font-size: 17px;
   }
}

//////////////////////////////////////////// title
.title {
   padding-bottom: 15px;
   font-size: 28px;
   font-weight: 700;
   text-transform: uppercase;
}

.title-1 {
   padding-bottom: 10px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 24px;
}

@media (min-width: 576px) {
   .title {
      padding-bottom: 25px;
      font-size: 32px;
   }

   .title-1 {
      padding-bottom: 15px;
      font-size: 26px;
   }
}

@media (min-width: 768px) {
   .title {
      padding-bottom: 30px;
      font-size: 36px;
   }

   .title-1 {
      font-weight: 700;
   }
}

@media (min-width: 1200px) {
   .title {
      padding-bottom: 40px;
      font-size: 40px;
   }
}

//////////////////////////////////////////// containers
.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;

   @media (min-width: 768px) {
      padding: 0 20px;
   }

   @media (min-width: 992px) {
      padding: 0 35px;
   }

   @media (min-width: 1200px) {
      padding: 0 20px;
      max-width: 1160px;
   }

   @media (min-width: 1400px) {
      max-width: 1320px;
   }

   @media (min-width: 1600px) {
      max-width: 1480px;
   }

   @media (min-width: 1920px) {
      max-width: 1640px;
   }
}

.section-container {
   margin-top: 60px;

   @media (min-width: 768px) {
      margin-top: 80px;
   }

   @media (min-width: 1200px) {
      margin-top: 110px;
   }
}

.article {
   b {
      padding-bottom: 20px;
      display: block;
      font-weight: 600;
   }

   b,
   p,
   ul {
      line-height: 1.5;
      font-size: 15px;
   }

   p {
      padding-bottom: 10px;
   }

   ul {
      padding-bottom: 10px;
      padding-left: 18px;
   }

   li {
      padding-bottom: 10px;
      list-style-type: disc !important;

      &::marker {
         color: var(--red);
      }
   }

   span {
      font-weight: 600;
   }

   a {
      color: var(--red);

      &:hover {
         text-decoration: underline;
      }
   }

   @media (min-width: 576px) {
      b {
         padding-bottom: 40px;
      }

      p,
      ul {
         padding-bottom: 30px;
      }

      li {
         padding-bottom: 15px;
      }

      b,
      p,
      ul {
         font-size: 17px;
      }

      ul {
         padding-left: 30px;
      }
   }

   @media (min-width: 992px) {

      b,
      p,
      ul {
         font-size: 19px;
      }

      ul {
         padding-left: 70px;
      }
   }

   @media (min-width: 1200px) {
      padding-left: 200px;
      max-width: 1050px;
   }

   @media (min-width: 1400px) {
      max-width: 1200px;

      b,
      p,
      ul {
         font-size: 20px;
      }

      ul {
         max-width: 900px;
      }
   }

   @media (min-width: 1600px) {
      max-width: 1300px;

      ul {
         max-width: 1000px;
      }
   }

   @media (min-width: 1800px) {
      max-width: 1450px;
   }
}

.article-date {
   display: block;
   padding-bottom: 10px;
   font-size: 20px;
   color: var(--gray);

   @media (min-width: 1200px) {
      margin-bottom: -38px;
   }
}

.image-container {
   padding-bottom: 20px;
   display: grid;
   gap: 20px;
   justify-content: center;
}

@media (min-width: 576px) {
   .image-container {
      padding-bottom: 30px;
      grid-auto-flow: column;
   }
}

@media (min-width: 1200px) {
   .image-container {
      gap: 50px;
   }
}

//////////////////////////////////////////// tabs
.react-tabs {
   display: grid;

   &__tab-panel {
      grid-area: 2 / 1 / 2 / 2;
      opacity: 0;
      transition: opacity 0.25s linear;
      animation: react-tabs 0.25s steps(1, end) forwards;

      @keyframes react-tabs {
         to {
            visibility: hidden;
         }
      }
   }

   &__tab-panel--selected {
      opacity: 1;
      visibility: visible !important;
      transition: opacity 0.2s linear 0.1s;
   }

   &__tab-list {
      display: flex;
      border-bottom: 1px solid var(--gray-light);
      gap: 45px;
      font-size: 17px;
      font-weight: 500;
      color: var(--gray-med);
   }

   &__tab {
      padding: 12px 0 6px;
      position: relative;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      transition: border-color 0.08s linear;
      outline: none;

      &:focus-visible {
         border-color: var(--black);
         background: var(--gray-light);
      }

      &:hover {
         border-color: var(--red);
      }
   }

   &__tab--selected {
      color: var(--graphite);
      border-color: var(--red);
   }

   @media (min-width: 992px) {
      &__tab-list {
         font-size: 18px;
      }
   }

   @media (min-width: 1400px) {
      &__tab-list {
         gap: 55px;
         font-size: 20px;
      }
   }
}

//////////////////////////////////////////// delivery page
.delivery-iframe {
   margin-top: 50px;

   @media (min-width: 992px) {
      margin-top: 90px;
   }
}

.delivery-tabs {
   margin-bottom: 40px;
}

//////////////////////////////////////////// forms
.invalid {

   input,
   textarea {
      border-color: var(--red);
   }
}

.error-message {
   color: var(--red);
   font-size: 14px;
}

.form-agreement {
   // agreement message under button
   padding-left: 10px;
   margin-top: 10px;
   font-size: 14px;

   &::before {
      content: '*';
      margin-left: -10px;
      margin-right: 5px;
   }
}

.button-form {
   //black button
   width: 100%;
   padding: 12px 0;

   font-size: 16px;
   color: var(--white);
   background-color: var(--graphite);
   outline: none;
   transition: 0.05s linear;

   &:focus-visible,
   &:hover {
      background-color: var(--red);
   }

   @media (min-width: 1400px) {
      padding: 15px 0;
      font-size: 18px;
   }
}

.form-contact {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.modal-response {
   max-height: 240px;
   max-width: 400px;
   display: flex;
   align-items: center;
   justify-content: center;

   @media (min-width: 992px) {
      max-height: 300px;
      max-width: 480px;
   }
}

.response-text {
   padding: 20px 10px;
   text-transform: uppercase;
   text-align: center;
   font-size: 20px;
   font-weight: 600;

   @media (min-width: 576px) {
      font-size: 22px;
   }

   @media (min-width: 992px) {
      font-size: 24px;
   }
}