.home-catalog {
   margin-top: 25px;
   display: grid;
   grid-gap: 15px;
}

@media (min-width: 375px) {
   .home-catalog {
      grid-template-columns: 1fr 1fr;
   }

   .home-catalog a:last-of-type {
      grid-column: 1 / -1;
   }

   .home-catalog a:last-of-type img {
      height: 54vw;
   }
}

@media (min-width: 768px) {
   .home-catalog {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;

      a:last-of-type {
         grid-column: unset;

         img {
            height: unset;
         }
      }
   }
}

@media (min-width: 992px) {
   .home-catalog {
      grid-row-gap: 25px;
      grid-column-gap: 35px;
   }
}

@media (min-width: 1200px) {
   .home-catalog {
      grid-row-gap: 30px;
   }
}

@media (min-width: 1400px) {
   .home-catalog {
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 20px;

      a:last-of-type {
         grid-column: 2 span;

         img {
            height: 279px;
         }
      }
   }
}

@media (min-width: 1600px) {
   .home-catalog {
      grid-column-gap: 25px;

      a:last-of-type img {
         height: 312px;
      }
   }
}

@media (min-width: 1920px) {
   .home-catalog {
      grid-column-gap: 30px;
      grid-row-gap: 40px;

      a:last-of-type img {
         height: 344.5px;
      }
   }
}