.home-address {
   background: var(--gray-light);

   &__title {
      padding: 30px 0 20px 0;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      color: var(--white);
      line-height: 1.2;
   }

   &__squares {
      margin: 30px -10px 0 auto;
   }

   &__header {
      background-color: var(--white);
   }

   &__tab {
      margin: 0 -10px 10px;
      padding: 10px 10px 15px;
      width: calc(100% + 20px);
      background-color: var(--white);

      address {
         padding-bottom: 10px;
         color: var(--gray);
         line-height: 1.5;
         font-weight: 500;
      }
   }

   &__link {
      margin-top: 18px;
      display: flex;
      font-weight: 500;

      svg {
         color: var(--grey);
         margin-right: 20px;
      }

      &:hover {
         color: var(--red);
      }
   }

   @media (min-width: 768px) {
      &__title {
         padding: 40px 0 30px 0;
         font-size: 40px;
      }

      &__squares {
         margin-right: -20px;
      }
   }

   @media (min-width: 992px) {
      &__title {
         font-size: 52px;
      }
   }

   @media (min-width: 1200px) {
      &__title {
         padding: 54px 0 20px;
         font-size: 62px;
      }

      &__tabs-wrapper {
         margin: 0 auto;
         max-width: 1200px;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 30px;
      }

      &__tab-header {
         position: relative;
      }

      &__tab-btn {
         margin: 0 -10px;
         padding: 25px 10px;
         width: calc(100% + 20px);
         display: flex;
         align-items: center;
         justify-content: center;
      
         font-weight: 600;
         text-align: left;
      
         position: relative;
         z-index: 1;
         transition: background-color 0.6s ease-out;

         svg {
            width: 15px;
            margin-left: 10px;
            align-self: start;
         }

         &.active {
            background-color: var(--white);
   
            svg {
               transform: rotate(180deg);
            }
         }
      }

      &__tab {
         display: none;
         padding: 74px 30px 25px;
         position: absolute;
         top: 10px;
         opacity: 0;

         &.active {
            display: block;
            animation: tabContent 0.1s ease-out forwards;
         }

         @keyframes tabContent {
            to {
               top: 0px;
               opacity: 1;
            }
         }
      }

      &__squares {
         margin: 90px 0 0 auto;
      }
   }

   @media (min-width: 1400px) {
      &__title {
         font-size: 72px;
      }
   }
}