.home-popular-products {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

@media (min-width: 1200px) {
   .home-popular-products {
      gap: 25px;
   }
}

@media (min-width: 1400px) {
   .home-popular-products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
   }
}

@media (min-width: 1700px) {
   .home-popular-products {
      gap: 25px;
   }
}