.home-slider {
   &__slide {
      background: var(--gray-med);
      width: 100%;
   }

   &__background {
      height: 720px;
      width: 100%;
      object-fit: cover;
      user-select: none;
   }

   &__wrapper {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(#000, #000c 35%, #0000 70%);
      color: var(--white);
   }

   &__container {
      height: 100%;
   }

   &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
   }

   &__title {
      padding-top: 300px;
      margin-right: 30px;
      font-size: 26px;
      font-weight: 800;

      // for animation:
      display: flex;
      flex-wrap: wrap;

      span {
         display: block;
         height: 1.2em;
         padding-top: 1.2em;
         overflow: hidden;
      }
   }

   .swiper-slide-active h1 span {
      opacity: 0;
      animation: home-title 0.5s ease-out 0.1s forwards;

      @keyframes home-title {
         30% {
            opacity: 0
         }

         to {
            opacity: 1;
            padding-top: 0;
         }
      }
   }

   &__sub_title {
      margin: 20px 30px 0 0;
   }

   &__link-container {
      flex-grow: 1;
      padding-bottom: 60px;
      margin-right: -10px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
   }

   &__link {
      position: relative;
      width: 200px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: var(--red);

      &::before {
         content: '';
         position: absolute;
         inset: 0 0 0 0;
         background: #00000025;
      }

      img {
         grid-area: 1 / 2 / -1 / -1;
         margin-left: auto;
         width: 152px;
         height: auto;
      }

      span {
         grid-area: 1 / 1 / -1 / -1;
         z-index: 1;
         width: 80%;
         place-self: center;
      }
   }

   &__pagination {
      transform: translateY(-50%) !important;
      left: unset;
      bottom: unset;
      right: 0;
      top: 50%;

      display: grid;
      grid-gap: 20px;

      span {
         width: 35px;
         height: 35px;
         padding: 12px;
         opacity: 1;
         background-color: transparent;

         &.home-slider__bullet-active::before {
            transform: scale(1.5);
            background-color: var(--red);
         }

         &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--white);
         }
      }
   }

   @media (min-width: 340px) {
      &__title {
         margin-right: 50px;
         font-size: 34px;
      }

      &__sub_title {
         margin-right: 50px;
         font-size: 18px;
      }

      &__link {
         width: 280px;

         span {
            width: 70%;
         }
      }

      &__pagination {
         right: 5px;
      }
   }

   @media (min-width: 576px) {
      &__title {
         margin-right: 80px;
         font-size: 46px;
      }

      &__sub_title {
         margin-right: 180px;
         margin-top: 30px;
         max-width: 630px;
      }

      &__pagination {
         right: 10px;
      }
   }

   @media (min-width: 768px) {
      &__link-container {
         margin-right: -20px;
      }
   }

   @media (min-width: 992px) {
      &__title {
         font-size: 64px;
         max-width: 730px;
      }

      &__link-container {
         padding-bottom: 70px;
      }

      &__pagination {
         right: 35px;
      }
   }

   @media (min-width: 1200px) {
      &__background {
         height: 740px;
      }

      .swiper-slide-active h1 span {
         animation-delay: 0.25s;
      }
   }

   @media (min-width: 1400px) {
      &__background {
         height: 780px;
      }
   }
}