.product-panel {
   padding: 30px 0 50px;
   display: grid;
   row-gap: 15px;

   &__articul {
      font-weight: 500;
      color: var(--gray);

      span {
         margin-left: 10px;
      }
   }

   &__price {
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--gray);

      span {
         font-size: 18px;
      }

      b {
         font-weight: 500;
         color: #f2994a;
      }
   }

   &__compare {
      padding: 0 3px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      color: var(--gray);

      &.active {
         border-radius: 2px;
         outline: 1px solid #f2994a;
         background-color: var(--graphite);
         color: #f2994a;
      }
   }

   &__count {
      height: 60px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      color: var(--gray);
      background-color: var(--gray-light);

      div {
         width: 100px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         span {
            min-width: 22px;
            display: flex;
            justify-content: center;
            user-select: none;
         }
      }
   }

   &__buy {
      display: flex;
      flex-wrap: wrap;
      row-gap: 7px;
      color: var(--white);
   }

   &__wrapper-buy-now {
      width: 100%;
   }

   &__buy-now {
      height: 52px;
      width: 100%;
      background-color: var(--graphite) !important;
   }

   &__buy-cart {
      height: 52px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--red);

      span {
         width: 0;
         overflow: hidden;
         text-align: right;
         background-color: var(--red);
         white-space: nowrap;
         opacity: 0;
         transition: width 0.1s ease, opacity 0.3s linear;
      }

      &.active span {
         width: 145px;
         opacity: 1;
         transition: width 0.1s ease, opacity 0.25s ease-in;
      }
   }

   @media (min-width: 768px) {
      align-content: start;
      padding-bottom: 10px;

      &__count {
         padding-right: 5px;

         button {
            padding: 5px;
         }
      }

      &__buy {
         row-gap: 9px;
      }
   }

   @media (min-width: 1200px) {
      row-gap: 20px;

      &__articul {
         margin-bottom: 20px;
         font-size: 18px;
         font-weight: 400;

         span {
            letter-spacing: 1px;
         }
      }

      &__price {
         width: 410px;

         span {
            font-size: 20px;
         }
      }

      &__count {
         width: 410px;
         padding: 0 10px 0 20px;
         height: 65px;

         button:hover {
            color: var(--red);
         }
      }

      &__buy {
         flex-wrap: unset;
      }

      &__wrapper-buy-now {
         width: 270px;
      }

      &__buy-now {
         width: 100%;
         height: 65px;
      }

      &__buy-cart {
         height: 65px;
         width: 140px;
         transition: flex-grow 0.1s ease;

         &.active {
            flex-grow: 1;
         }
      }
   }

   @media (min-width: 1400px) {
      row-gap: 25px;

      &__articul {
         font-size: 20px;
      }
   }

   @media (min-width: 1600px) {
      row-gap: 30px;

      &__articul {
         margin-bottom: 20px;
         font-size: 22px;
      }

      &__price {
         width: 510px;

         span {
            font-size: 24px;
         }
      }

      &__count {
         width: 510px;
      }

      &__buy {
         width: 642px;
      }

      &__wrapper-buy-now {
         width: 370px;
      }
   }
}