.product-slider {

   .swiper-slide {
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
   }

   .swiper-button-prev,
   .swiper-button-next {
      margin-top: 0;
      width: 18px;
      height: 100%;
      background-color: var(--red-opaque);
      transition: opacity 0.2s linear;

      &::after {
         font-size: 16px;
         color: var(--white);
      }

      &:hover {
         background-color: var(--graphite);
      }
   }

   .swiper-button-prev {
      top: 0;
      left: 0;
   }

   .swiper-button-next {
      top: 0;
      right: 0;
   }

   @media (min-width: 340px) {

      .swiper-button-prev,
      .swiper-button-next {
         width: 22px;

         &::after {
            font-size: 20px;
         }
      }
   }

   @media (min-width: 1200px) {

      .swiper-button-prev,
      .swiper-button-next {
         width: 100%;
         height: 25px;

         &::after {
            font-size: 22px;
         }
      }

      .swiper-button-prev {
         top: 0;

         &::after {
            transform: rotate(90deg);
         }
      }

      .swiper-button-next {
         top: unset;
         bottom: 0;

         &::after {
            transform: rotate(90deg);
         }
      }
   }
}

///////////////////////////////////////////
.product-slider {

   &__thumbs-slider {
      margin-top: 10px;
   }

   img {
      user-select: none;
      height: auto;
   }

   &__image-slider {
      max-width: 450px;

      .swiper-slide {
         .swiper-zoom-container {
            z-index: -1;
         }

         &.swiper-slide-zoomed {
            border-radius: 5px;
            outline-offset: -1px;
            outline: 1px solid var(--gray-med);
         }
      }
   }

   &__thumbs-slide {
      width: auto;
      border-radius: 5px;
      outline-offset: -1px;
      cursor: pointer;

      &:hover {
         outline: 1px solid #e2e2e2;
      }

      &.active {
         outline: 1px solid var(--gray);
      }

      img {
         height: 70px;
         width: auto;
      }
   }

   &__hoverable {
      margin: 0;
      background-position: 50% 50%;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      cursor: zoom-in;
      outline: 1px solid transparent;
      transition: outline 0.1s linear 0.1s;

      &:hover {
         outline-color: var(--gray);
         transition: outline 0.1s linear;
      }

      img:hover {
         opacity: 0;
         transition: opacity 0.1s linear;
      }

      img {
         background: white;
         transition: opacity 0.1s linear 0.1s;
      }
   }

   @media (min-width: 340px) {
      &__thumbs-slide img {
         height: 80px;
      }
   }

   @media (min-width: 576px) {
      &__thumbs-slide img {
         height: 90px;
      }
   }

   @media (min-width: 768px) {
      grid-row: 1 / 3;

      &__image-slider {
         max-width: unset;
      }
   }

   @media (min-width: 1200px) {
      margin-bottom: 20px;
      display: grid;
      grid-template: 1fr / 90px 1fr;
      column-gap: 30px;

      &__image-slider {
         max-width: 100%;
      }

      &__thumbs-slider {
         margin-top: 0;
         order: -1;
         height: 480px;
      }

      &__thumbs-slide {
         height: auto;

         img {
            height: auto;
         }
      }
   }

   @media (min-width: 1400px) {
      &__thumbs-slider {
         height: 530px;
      }
   }

   @media (min-width: 1600px) {
      margin-bottom: 35px;
      grid-template: 1fr / 115px 1fr;

      &__thumbs-slider {
         height: 555px;
      }
   }

   @media (min-width: 1920px) {
      &__thumbs-slider {
         height: 595px;
      }
   }
}