.product {
   &__breadcrumbs {
      display: flex;
      align-items: center;
      gap: 5px;

      div {
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }

   &__slider-container {
      display: grid;
      grid-template-columns: 100%;
   }

   &__title {
      order: -1;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.4;
      white-space: normal;

      .new-item::before,
      .promo::before {
         display: inline-block;
         margin-right: 5px;
         margin-top: -4px;
         vertical-align: middle;
         padding: 3px 8px;
         text-transform: uppercase;
         font-size: 10px;
         font-weight: 500;
         color: var(--white);
      }

      .new-item::before {
         content: 'Новинка';
         background-color: #2d9cdb;
      }

      .promo::before {
         content: 'Акция';
         background-color: #f2994a;
      }
   }

   &__similar-products-container {
      margin: 50px -10px 0;
   }

   &__similar-products-spinner {
      margin: 0 auto;
   }

   &__similar-products-title {
      padding-right: 10px;
      padding-left: 10px;
   }

   @media (min-width: 340px) {
      &__title {
         font-size: 18px;
      }
   }

   @media (min-width: 576px) {
      &__title {
         font-size: 22px;

         .new-item::before,
         .promo::before {
            margin-right: 8px;
            margin-top: -3px;
            padding: 5px 9px;
            font-size: 11px;
         }
      }
   }

   @media (min-width: 768px) {
      &__slider-container {
         grid-template: auto 1fr auto / 48% 1fr;
         column-gap: 20px;
      }

      &__title {
         margin-top: 30px;
         order: unset;
         font-size: 20px;

         .new-item::before,
         .promo::before {
            margin-right: 7px;
            padding: 4px 9px;
         }
      }

      &__similar-products-container {
         margin: 50px -20px 0;
      }

      &__similar-products-title {
         padding-right: 20px;
         padding-left: 20px;
      }
   }

   @media (min-width: 992px) {
      &__slider-container {
         column-gap: 40px;
      }

      &__title {
         margin-top: 50px;
         font-size: 24px;

         .new_item::before,
         .promo::before {
            margin-right: 8px;
            margin-top: -5px;
            padding: 5px 11px;
            font-size: 13px;
         }
      }

      &__similar-products-container {
         margin: 50px -35px 0;
      }

      &__similar-products-title {
         padding-right: 35px;
         padding-left: 35px;
      }
   }

   @media (min-width: 1200px) {
      &__slider-container {
         grid-template-columns: 600px 1fr;
      }

      &__title {
         margin-top: 0;
         font-size: 24px;
      }

      &__similar-products-container {
         margin: 50px 0 0;
      }

      &__similar-products-title {
         padding-right: 0;
         padding-left: 0;
      }
   }

   @media (min-width: 1400px) {
      &__slider-container {
         grid-template-columns: 650px 1fr;
      }

      &__title {
         font-size: 26px;
      }
   }

   @media (min-width: 1600px) {
      &__slider-container {
         grid-template-columns: 46% 1fr;
         grid-template-columns: 700px 1fr;
         column-gap: 50px;
      }

      &__title {
         font-size: 36px;
         line-height: 1.2;

         .new_item::before,
         .promo::before {
            margin-right: 11px;
            margin-top: -7px;
            padding: 6px 12px;
            font-size: 14px;
         }
      }
   }

   @media (min-width: 1920px) {
      &__slider-container {
         grid-template-columns: 44% 1fr;
         grid-template-columns: 740px 1fr;
         column-gap: 60px;
      }
   }
}