.products {
   &__section {
      display: grid;
      align-content: start;
      gap: 10px;
      min-height: 200px;
   }

   &__section-header {
      margin-bottom: 10px;
      padding-bottom: 10px;

      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 5px;
      justify-content: space-between;

      border-bottom: 1px solid var(--gray-light);
      text-transform: lowercase;
   }

   &__section-select {
      order: 1;
      width: 100%;

      font-size: 14px;
   }

   &__section-header-btn {
      display: flex;
      align-items: center;
      padding: 7.5px 10px;
      border: 1px solid var(--gray-light);
      font-size: 14px;

      svg {
         margin-left: 6px;
         height: 16px;
         width: auto;
         color: var(--gray-med);
      }
   }

   &__section-header-reset {
      transition: opacity 0.1s ease;

      &:hover {
         border-color: var(--gray-med);
      }

      &.disabled {
         opacity: 0;
         pointer-events: none;
      }
   }

   &__pagination {
      grid-column: 1 / -1;
   }

   @media (min-width: 340px) {
      &__section {
         gap: 15px;
      }
   }

   @media (min-width: 370px) {
      &__section {
         grid-template-columns: 1fr 1fr;
      }
   }

   @media (min-width: 576px) {
      &__section {
         grid-template-columns: 1fr 1fr 1fr;
      }

      &__section-select {
         order: unset;
         width: 212px;
      }

      &__section-header-reset {
         margin-right: auto;
      }
   }

   @media (min-width: 768px) {
      &__section-header {
         font-size: 17px;
      }

      &__section-select {
         width: 260px;
      }
   }

   @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 300px 750px;
      justify-content: space-between;

      &__section {
         grid-template-columns: 1fr;

         &.tiles {
            grid-template-columns: 1fr 1fr;
            gap: 25px;
         }
      }

      &__section-header {
         margin-bottom: 15px;
      }

      &__section-select {
         font-size: inherit;
      }

      &__section-header-btn {
         font-size: inherit;

         svg {
            height: 20px;
         }
      }

      &__section-header-tiles {
         display: flex;
         align-items: center;
         gap: 10px;

         button {
            padding: 7.75px;

            &:hover {
               color: var(--red);
            }
         }

         .active {
            color: var(--red);
            outline: 1px solid var(--gray-light);
            outline-offset: -1px;
         }
      }
   }

   @media (min-width: 1400px) {
      grid-template-columns: 300px 1fr;
      gap: 40px;

      &__section.tiles {
         grid-template-columns: 1fr 1fr 1fr;
         gap: 20px;
      }

      &__section-header {
         font-size: 18px;
      }

      &__section-select {
         width: 320px;
      }
   }

   @media (min-width: 1600px) {
      grid-template-columns: 340px 1fr;
      gap: 40px;
   }
}