.pswp {
   --pswp-icon-color: #ffffff;
   --pswp-icon-color-secondary: #000000;
   --pswp-icon-stroke-color: #000000;
   --pswp-icon-stroke-width: 1.5px;

   &__item {
      img{
         max-height: unset;
      }
   }

   &__default-caption {
      div {
         display: inline-block;
         padding: 4px 10px;
         border-radius: 3px;
         background:#a6a6a6c9;
         backdrop-filter: blur(1px);
      }
   }
}