.sertificates-slider {
   margin: 10px 0 50px;

   &__swiper-silde {
      height: unset;
      width: unset;
      background: no-repeat center / 100% 100% url('../../../../assets/svg/frame.svg');
   }

   &__slide {
      position: relative;
      height: 100%;
      padding: 28px 12px 20px;

      &:active {
         cursor: grabbing;
      }

      img {
         margin: 0 auto;
         width: 140px;
         box-shadow: 0 0 1px 0px #c5c5c5, 0 0 15px 0px #dfdfdf;
         user-select: none;
      }

      p {
         margin-top: 5px;
         width: 180px;

         text-align: center;
         color: var(--gray-med);
         font-weight: 500;
         line-height: 1.2;
         font-size: 12px;
      }
   }

   @media (any-hover) {
      &__slide:not(:active) {
         cursor: pointer;

         &:hover::before {
            content: '';
            position: absolute;
            top: 13px;
            left: 13px;
            width: 178px;
            height: 261px;
            background: var(--red-opaque) no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath fill='%23fff' d='M22.5 34.1h3v-8.4h8.4v-3h-8.4v-8.4h-3v8.4h-8.4v3h8.4ZM24 44q-4.1 0-7.8-1.6-3.6-1.5-6.3-4.3-2.8-2.7-4.3-6.4Q4 28.1 4 24t1.6-7.8q1.6-3.6 4.3-6.3 2.7-2.8 6.3-4.3Q19.9 4 24 4t7.8 1.6q3.7 1.6 6.3 4.3 2.8 2.7 4.3 6.3Q44 19.9 44 24v15.9q0 1.7-1.2 2.9T39.9 44Zm0-3q7.1 0 12-5 5-4.9 5-12t-5-12q-4.9-5-12-5t-12 5q-5 4.9-5 12t5 12q4.9 5 12 5Zm0-16.8Z'/%3E%3C/svg%3E");
            backdrop-filter: blur(1px);
            opacity: 0;
            animation: fade-in 0.2s cubic-bezier(.7, 0,.8,.7) 0.15s forwards;

            @keyframes fade-in {
               to {
                  opacity: 1;
               }
            }
         }
      }
   }

   @media (min-width: 1200px) {
      margin: 20px auto 100px;
      padding: 0 20px;
      max-width: 1160px;
      mask-image: linear-gradient( 90deg, transparent, #000 10px, #000 calc(100% - 10px), transparent );
      -webkit-mask-image: linear-gradient( 90deg, transparent, #000 10px, #000 calc(100% - 10px), transparent );
      overflow: hidden;

      &__swiper {
         overflow: visible !important;
      }

      .sertificates-slider__slide:hover::before {
         top: 16px;
         left: 14px;
         width: 202px;
         height: 298px;
      }

      &__slide {
         padding: 36px 20px 26px;

         img {
            width: 155px;
         }

         p {
            margin-top: 7px;
            width: 190px;
            font-size: 13px;
         }
      }
   }

   @media (min-width: 1400px) {
         max-width: 1320px;
   }

   @media (min-width: 1600px) {
         max-width: 1480px;
   }

   @media (min-width: 1920px) {
         max-width: 1640px;
   }
}