.swiper .swiper-button-disabled {
   opacity: 0;
}

/////////////////////////////////////////////////////////
.slider-container {

   .swiper-button-prev,
   .swiper-button-next {
      height: 45px;
      width: 45px;
      background-color: var(--red-opaque);
      transition: opacity 0.2s linear;

      &::after {
         font-size: 22px;
         color: var(--white);
      }
   }

   .swiper-button-prev:hover,
   .swiper-button-next:hover {
      background-color: var(--graphite);
   }

   .swiper-button-prev {
      left: 0;
   }

   .swiper-button-next {
      right: 0;
   }

   @media (min-width: 768px) {

      .swiper-button-prev,
      .swiper-button-next {
         width: 65px;
      }
   }

   @media (min-width: 992px) {

      .swiper-button-prev,
      .swiper-button-next {
         padding: 0 20px;
         text-align: right;
         width: 95px;

         &::after {
            width: 100%;
         }
      }

      .swiper-button-prev::after {
         text-align: left;
      }
   }

   @media (min-width: 1200px) {
      .swiper-button-prev {
         left: 20px;
      }

      .swiper-button-next {
         right: 20px;
      }
   }
}

/////////////////////////////////////////////////////////
.slider-container {
   .slide-product-card {
      height: unset;
      width: 230px;

      a {
         margin: 0;
      }

      img {
         margin: 0 auto;
         width: 140px;
      }
   }

   @media (min-width: 370px) {
      .slide-product-card {
         width: 250px;
      }
   }

   @media (min-width: 992px) {
      .slide-product-card {
         width: 280px;
      }
   }

   @media (min-width: 1200px) {
      .slide-product-card {
         width: 300px;
      }
   }
}

/////////////////////////////////////////////////////////
.slider-compare {

   .swiper-button-prev,
   .swiper-button-next {
      top: 45px;
      margin-top: 0;
      height: 35px;
      width: 35px;
      background-color: var(--red);
      transition: opacity 0.2s linear;

      &::after {
         font-size: 18px;
         color: var(--white);
      }
   }

   .swiper-button-prev:hover,
   .swiper-button-next:hover {
      background-color: var(--graphite);
   }

   .swiper-button-prev {
      left: 0;
   }

   .swiper-button-next {
      right: 0;
   }

   @media (min-width: 768px) {

      .swiper-button-prev,
      .swiper-button-next {
         top: 62.5px;
         height: 45px;
         width: 45px;
      }
   }
}