.slider_container {
   margin: 10px 0 50px;
}

.swiper_slide {
   padding: 0 10px;
   position: relative;
}

.swiper_slide::before {
   content: '';
   position: absolute;
   top:0;
   left: 0;
   height: 100%;
   width: 100%;
   padding: 10px;
   /* box-shadow: -5px 5px 5px 0 rgb(140, 140, 140); */
   background: no-repeat center / auto 100% url('../../../assets/svg/frame.svg');
}

.swiper_slide img {
   width: 100%;
   height: auto;
   box-shadow: 0 0 3px 0px #c5c5c5
}

.swiper_slide a {
   position: relative;
   display: flex;
   flex-direction: column;
}

.swiper_slide p {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;

   padding: 20px 10px;
   display: flex;
   align-items: flex-end;
   justify-content: center;

   text-align: center;
   color: var(--white);
   font-weight: 500;
   line-height: 1.4;
   font-size: 14px;

   /* background: linear-gradient(0deg, #0009, #0003 50%, #0002); */
}

.swiper_slide a svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   height: 80px;
   width: 80px;

   color: #3333;
}

@media (min-width: 500px) {
   .swiper_slide p {
      padding: 30px 20px;
      font-size: 16px;
   }
}

@media (min-width: 768px) {
   .swiper_slide {
      padding: 0;
   }

   .slider_container {
      margin: 20px 0 80px;
   }

   .swiper_slide p {
      padding: 40px 20px;
      font-size: 17px;
      font-weight: 400;
   }
}

@media (min-width: 1200px) {
   .swiper {
      overflow: visible !important;
   }

   .slider_container {
      margin: 20px auto 100px;
      padding: 0 20px;
      max-width: 1160px;
      mask-image: linear-gradient( 90deg, transparent, #000 10px, #000 calc(100% - 10px), transparent );
      -webkit-mask-image: linear-gradient( 90deg, transparent, #000 10px, #000 calc(100% - 10px), transparent );
      overflow: hidden;
   }

   .swiper_slide {
      padding: 40px;
      /* background: no-repeat center / auto 100% url('../../../assets/svg/frame.svg'); */
   }

   .swiper_slide p {
      padding: 35px 30px;
   }

   .swiper_slide a svg {
      height: 120px;
      width: 120px;
      opacity: 0;
      color: #3335;
      transition: opacity 0.2s ease-in 0.1s;
   }

   .swiper_slide:hover a svg {
      opacity: 1;
   }
}

@media (min-width: 1400px) {
   .slider_container {
      max-width: 1320px;
   }
}

@media (min-width: 1600px) {
   .slider_container {
      max-width: 1480px;
   }
}

@media (min-width: 1920px) {
   .slider_container {
      max-width: 1640px;
   }
}
