.container {
    padding: 30px 0 50px;
    display: grid;
    row-gap: 10px;
}

.articul {
    padding-left: 10px;
    font-weight: 500;
    color: var(--gray);
}

.articul span {
    margin-left: 10px;
}

.price {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
}

.price span {
    font-size: 18px;
}

.price span svg {
    display: inline;
    height: 13px;
}

.compare {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--gray);
}

.compare svg {
    margin-right: 10px;
}

.count {
    height: 70px;
    display: flex;
    column-gap: 20px;
    background-color: var(--gray-light);
    font-weight: 500;
    color: var(--gray);
}

.count>span {
    flex-grow: 1;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 110px;
}

.count div {
    padding-right: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy {
    height: 70px;
    width: 100%;
    display: flex;
    color: var(--white);
}

.buy button {
    display: inline-flex;
    align-items: center;
}

.buy button:first-of-type {
    flex-grow: 1;
    padding-left: 10px;
    background-color: var(--graphite);
}

.buy button:last-of-type {
    width: 70px;
    justify-content: center;
    background-color: var(--red);
}

@media (min-width: 370px) {
    .container {
        row-gap: 15px;
    }

    .articul {
        padding-left: 20px;
    }

    .price {
        padding-left: 20px;
        padding-right: 0;
    }

    .compare {
        width: 150px;
        justify-content: center;
    }

    .count>span {
        padding-left: 20px;
    }

    .count div {
        width: 150px;
        padding: 0 20px;
    }

    .buy button:first-of-type {
        padding-left: 20px;
    }

    .buy button:last-of-type {
        width: 150px;
    }
}

@media (min-width: 768px) {
    .container {
        grid-area: 2 / 2 / 3 / -1;
        align-content: start;
    }

    .articul,
    .price {
        padding-left: 0;
    }

    .compare {
        width: 140px;
        justify-content: center;
    }

    .count>span {
        padding-left: 20px;
    }

    .count div {
        width: 140px;
        padding: 0 15px;
    }

    .count button {
        padding: 5px;
    }

    .buy button:first-of-type {
        padding: 20px;
    }

    .buy button:last-of-type {
        width: 140px;
    }
}

@media (min-width: 1200px) {
    .container {
        row-gap: 20px;
    }

    .articul {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .price,
    .count {
        width: 410px;
    }

    .articul span {
        letter-spacing: 1.2px;
    }

    .price span {
        font-size: 20px;
    }

    .price span svg {
        height: 15px;
    }

    .count button {
        padding: 10px;
    }

    /* buttons hover-------------------------------------- */
    .count div span {
        transition: all 0.1s linear;
    }

    .count button:hover {
        color: var(--red);
    }

    .buy {
        width: 542px;
        position: relative;
    }

    .buy button:first-of-type {
        flex-grow: unset;
        width: 270px;
        height: 70px;

        position: absolute;
        transition: width 0.1s ease-out 0.08s
    }

    .buy button:first-of-type:hover {
        width: 410px;
    }

    .buy button:last-of-type {
        margin-left: 270px;
        transition: flex-grow 0.1s ease-out 0.08s;
    }

    .buy button:last-of-type svg {
        transition: color 0.15s linear;
    }

    .buy button:last-of-type svg {
        z-index: 1;
        height: 100%;
        padding: 0 55px;
        width: 140px;
        transition: all 0.15s linear 0.1s;
    }

    .buy button:last-of-type:hover {
        flex-grow: 1;
    }

    .buy button:last-of-type:hover svg {
        width: 50px;
        padding: 0 10px;
        transition: all 0.15s linear;
    }

    .buy button:last-of-type::after {
        content: 'Добавить в корзину';
        overflow: hidden;
        white-space: nowrap;
        color: transparent;

        width: 0;
        transition: all 0.1s ease-out 0.08s, color 0.1s ease-in 0.1s;
    }

    .buy button:last-of-type:hover::after {
        width: 168px;
        color: var(--white)
    }
}

@media (min-width: 1400px) {
    .container {
        row-gap: 25px;
    }

    .articul {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .container {
        row-gap: 30px;
    }

    .articul {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .price span {
        font-size: 24px;
    }

    .price span svg {
        height: 17px;
    }
}