.wrapper {
   padding-bottom: 20px;
}

.wrapper section {
   padding-bottom: 25px;
}

.wrapper p {
   padding: 9.5px 10px;
   margin-bottom: 5px;
   background-color: #111;
}

@media (min-width: 340px) {
   .wrapper p {
      padding: 8px 20px;
      font-size: 18px;
      font-weight: 500;
   }
}

@media (min-width: 1200px) {
   .wrapper {
      padding-bottom: 0;
   }

   .wrapper section {
      padding-bottom: 40px;
   }

   .wrapper p {
      padding: 5px 5px 5px 0;
      padding-left: 0;
      background: none;
      font-size: 17px;
   }
}

@media (min-width: 1600px) {
   .wrapper p {
      font-size: 18px;
   }
}
