
.slider_container {
    margin-bottom: 50px;
}

.swiper_slide {
    padding: 0 10px;
}

@media (min-width: 768px) {
    .slider_container {
        margin-bottom: 80px;
    }

    .swiper_slide {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .swiper {
        padding-top: 70px !important;
    }

    .slider_container {
        margin: -30px auto 100px;
        padding: 0 50px;
        max-width: 1350px;
    }
}