.summary {
   margin: 0 -10px;
   padding: 10px;
   background-color: var(--light);
}

.summary h2 {
   margin-bottom: 15px;
   text-transform: uppercase;
   font-size: 16px;
   color: var(--gray);
   font-weight: 500;
}

.price {
   margin-bottom: 15px;
   padding-bottom: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   border-bottom: 1px solid var(--gray-med);
}

.price span {
   justify-self: end;
   font-weight: 500;
}

.price span:last-of-type {
   color: var(--red);
}

.price p:first-of-type span {
   margin-left: 5px;
   color: var(--gray);
}

.price svg {
   display: inline;
   height: 11px;
}

.total {
   display: flex;
   justify-content: space-between;
   font-weight: 600;
}

.total svg {
   display: inline;
   height: 13px;
}

.summary button {
   margin-top: 15px;
}

@media (min-width: 340px) {
   .price {
      margin-bottom: 30px;
      gap: 15px;
   }

   .total {
      font-size: 18px;
   }
}

@media (min-width: 768px) {
   .summary {
      margin: 0;
      padding: 20px 15px 30px;
   }
}

@media (min-width: 1200px) {
   .summary {
      padding: 25px 15px 30px;
   }

   .summary button {
      margin-top: 20px;
   }

   .summary h2 {
      margin-bottom: 25px;
      font-size: 18px;
   }

   .price {
      font-size: 18px;
      margin-bottom: 35px;
      gap: 15px;
   }

   .price svg {
      height: 13px;
   }

   .total {
      font-size: 20px;
   }

   .total svg {
      height: 14px;
   }
}
