.container {
    margin-bottom: 25px;
}

.title {
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.container .button {
    display: block;
    padding: 8px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.button:hover {
    color: var(--gray-med);
}

.checkmark {
    display: inline-block;
    vertical-align: middle;
    color: transparent;
}

.active .checkmark {
    color: var(--red);
}

.button span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
    color: var(--gray-med);
}

@media (min-width: 360px) {
    .container .button {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin-bottom: 30px;
    }

    .title {
        padding-left: 0;
        font-size: 21px;
    }

    .container .button {
        padding: 4px 0;
        font-weight: 400;
    }
}

@media (min-width: 1400px) {
    .title {
        font-size: 22px;
    }

    .container .button {
        padding: 5px 0;
        font-size: 19px;
    }

    .button span {
        font-size: 19px;
    }
}