.container {
    margin-bottom: 40px;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
}

.link {
    margin-bottom: 10px;
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 1.4;
}

.link:hover {
    color: var(--gray-med);
}

.link span {
    margin-left: 10px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--gray-med);
}