.header {
   width: 100%;
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   color: var(--graphite);
   box-shadow: var(--shadow);
}

.reversed {
   color: var(--white);
}

.row_top {
   padding-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.row_bottom {
   margin: 25px 0 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.logo {
   margin-bottom: 45px;
   width: 100%;
   display: flex;
   justify-content: center;
}

.logo a:hover {
   color: unset !important;
}

.burger {
   order: 1;
}

.buttons_container {
   order: 2;
   display: flex;
   gap: 25px;
}

.header button:hover,
.header a:hover {
   color: var(--gray-med);
}

.buttons_container button {
   position: relative;
}

.buttons_container button span {
   position: absolute;
   top: 0;
   right: 30px;
   font-size: 14px;
   font-weight: 500;
   pointer-events: none;
}

.buttons_container button.active {
   color: var(--red);
}

@media (min-width: 340px) {
   .buttons_container {
      gap: 30px;
   }
}

@media (min-width: 1200px) {
   .row_bottom {
      margin-bottom: 0;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
   }

   .logo {
      margin-bottom: 0;
   }

   .burger {
      order: unset;
      align-self: end;
      justify-self: start;
   }

   .buttons_container {
      align-self: end;
      order: unset;
      justify-self: end;
      gap: 25px;
   }
}
