.container {
    margin-bottom: 25px;
}

.title {
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .container {
        margin-bottom: 30px;
    }

    .title {
        padding-left: 0;
        font-size: 21px;
    }
}

@media (min-width: 1400px) {
    .title {
        font-size: 22px;
    }
}