.wrapper {
    margin: 0 -10px 0;
}

.container {
    padding: 20px 10px 0;
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 0;
    }

    .container {
        padding: 0;
        max-height: 700px;
        overflow: auto;
    }

    .container::-webkit-scrollbar {
        width: 10px;
    }

    .container::-webkit-scrollbar-thumb {
        background: var(--graphite);
        border-radius: 4px;
    }

    .container::-webkit-scrollbar-thumb:hover {
        background: var(--gray-med);
    }

    .container::-webkit-scrollbar-thumb:hover:active {
        background: var(--gray);
    }
}