.nav {
    grid-column: 1 / -1;
    margin: 38px -8px 0;
    display:flex;
    justify-content: space-between;
}

.link {
    padding: 8px;
    line-height: 24px;
}

.link:hover {
    color: var(--gray-med);
}

@media (min-width: 1400px) {
    .nav {
        margin: 45px -8px 0;
    }
}