.backgroundImage {
    height: 720px;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(#000, #000C 35%, #0000 70%);
    color: var(--white);
}

.container {
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 300px;
    margin-right: 30px;
    font-size: 26px;
    font-weight: 800;
}

.sub_title {
    margin: 20px 30px 0 0;
}

.link_container {
    flex-grow: 1;

    padding-bottom: 60px;
    margin-right: -10px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--red);
}

.link img {
    margin-left: auto;
    width: 152px;
    height: auto;
    grid-area: 1 / 2 / -1 / -1;
}

.link span {
    width: 80%;
    grid-area: 1 / 1 / -1 / -1;
    place-self: center;
}

.pagination {
    transform: translateY(-50%) !important;
    left: unset;
    bottom: unset;
    right: 0;
    top: 50%;

    display: grid;
    grid-gap: 20px;
}

span.bullet {
    width:35px;
    height: 35px;
    padding: 12px;
    opacity: 1;
    background-color: transparent;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

span.bullet::before {
    content: '';
    display:block;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

span.bullet_active {
    background-color: transparent;
}

span.bullet_active::before {
    transform: scale(1.5);
    background-color: var(--red);
}

@media (min-width: 340px) {
    .title {
        margin-right: 50px;
        font-size: 34px;
    }
    
    .sub_title {
        margin-right: 50px;
        font-size: 18px;
    }

    .link {
        width: 280px;
    }

    .link span {
        width: 70%;
    }

    .pagination {
        right: 5px;
    }
}

@media (min-width: 576px) {
    .title {
        margin-right: 80px;
        font-size: 46px;
    }

    .sub_title {
        margin-right: 180px;
        margin-top: 30px;
        max-width: 630px;
    }

    .pagination {
        right: 10px;
    }
}

@media (min-width: 768px) {
    .link_container {
        margin-right: -20px;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 64px;
        max-width: 730px;
    }
    
    .pagination {
        right: 35px;
    }
    
    .link_container {
        padding-bottom: 70px;
    }
}

@media (min-width: 1200px) {
    .backgroundImage {
        height: 740px;
    }
}

@media (min-width: 1400px) {
    .backgroundImage {
        height: 780px;
    }
}