.categories {
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #151515, #1a1a1a 95%, #222);
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button svg {
    margin-left: 5px;
    flex-shrink: 0;
    width: 15px;
    color: #333;
}