.button {
    margin-bottom: 10px;
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 1.4;
}

.button:hover {
    color: var(--gray-med);
}

.checkmark {
    display: inline-block;
    vertical-align: middle;
    color: transparent;
}

.active {
    color: var(--red);
}

.button span {
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--gray-med);
}