@media (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 300px 750px;
        justify-content: space-between;
    }
}

@media (min-width: 1400px) {
    .wrapper {
        grid-template-columns: 300px 1fr;
        gap: 40px;
    }
}

@media (min-width: 1600px) {
    .wrapper {
        grid-template-columns: 340px 1fr;
        gap: 40px;
    }
}