.container {
   margin-bottom: 39px;
}

.collapsible {
   position: relative;
}

.trigger,
.trigger_open {
   padding: 10.5px 0 10.5px 50px;
   width: 100%;

   position: absolute;
   bottom: -39px;
   left: 0;

   text-align: left;
   font-size: 14px;
   font-weight: 300;
   color: var(--gray);
   word-spacing: 5px;

   background-color: #111;
}

.trigger svg,
.trigger_open svg {
   display: inline;
   vertical-align: middle;

   width: 14px;
   height: auto;

   margin-left: 8px;
}

@media (min-width: 1200px) {
   .trigger,
   .trigger_open {
      padding: 5.5px 0 5.5px 30px;

      bottom: -30px;
      left: 0;

      text-align: left;
      font-size: 15px;
      color: var(--gray-med);
      background: none;
   }

   .trigger:hover,
   .trigger_open:hover {
      color: var(--gray);
   }
}
