.categories {
   padding-top: 10px;
   padding-bottom: 2px;
   margin-bottom: 15px;
   background-color: #151515;
}

.button {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.button svg {
   margin-left: 5px;
   flex-shrink: 0;
   width: 15px;
   color: var(--gray);
}
