.wrapper {
    margin-top: 40px;
}

.iframe {
    margin-top: 60px;
}

@media (min-width: 768px) {
    .wrapper {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .iframe {
        margin-top: 80px;
    }
}

@media (min-width: 1600px) {
    .iframe {
        margin-top: 100px;
    }
}