.wrapper {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
    grid-gap: 20px;
}

.loading {
    background: var(--gray-light);
    padding-bottom: 50px;
}

.loading svg {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .loading:nth-of-type(1) {
        grid-column: 1 / span 2;
    }

    .loading:nth-of-type(1) svg {
        max-height: 43vw;
    }
}

@media (min-width: 768px) {
    .loading {
        padding-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .loading {
        padding-bottom: 0;
    }

    .loading:nth-of-type(1) svg {
        max-height: 500px;
    }
}