.product-modal {
  max-height: 940px;

  h2 {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  img {
    margin: 5px auto 3px;
    width: 120px;
  }

  &__item-count {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    background-color: var(--gray-light);

    div {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        min-width: 22px;
        display: flex;
        justify-content: center;
        user-select: none;
      }
    }

    svg:hover {
      color: var(--graphite)
    }
  }

  h3 {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  &__form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  hr {
    margin-bottom: 2px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
  }

  &__text-small {
    margin-bottom: 5px;
    font-size: 13px;
    color: var(--gray-med)
  }

  a {
    margin-bottom: 4px;
    display: block;
    font-size: 14px;
    color: var(--red);

    &:hover {
      text-decoration: underline;
    }
  }

  &__submit {
    margin-top: 20px;
    height: 52px;
    width: 100%;
    color: var(--white);
    background-color: var(--red);
  }

  &__message {
    margin-top: 30px;
  }

  &__btn-container button {
    transition: background-color 0.1s linear;

    &:hover {
      background-color: lighten(#ad2131, 5%);
    }
  }

  @media (min-width: 375px) {
    max-height: 810px;

    h2 {
      font-size: 20px;
    }

    &__item-container {
      margin: 10px 0 8px;
      display: grid;
      grid-template: 1fr auto / auto 1fr;
      column-gap: 10px;
    }

    img {
      margin: 0;
      grid-row: 1 / -1;
    }

    &__item-count {
      height: 50px;
      order: 1;
    }

    h3 {
      align-self: center;
      margin: 0;
      text-align: left;
    }

    &__text {
      margin-bottom: 12px;
      font-size: 15px;
    }

    &__text-small {
      margin-bottom: 8px;
      font-size: 14px;
    }

    a {
      margin-bottom: 8px;
      font-size: 15px;
    }
  }

  @media (min-width: 460px) {
    img {
      width: 140px;
    }
  }

  @media (min-width: 576px) {
    max-height: 800px;
    max-width: 576px;

    h2 {
      margin-top: 20px;
    }

    &__item-container {
      column-gap: 20px;
    }

    img {
      width: 160px;
    }

    h3 {
      font-size: 17px;
    }

    &__item-count {
      height: 55px;
    }

    hr {
      margin-top: 22px;
    }

    a {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 992px) {
    max-width: 620px;
    max-height: 820px;

    h2 {
      margin-top: 10px;
      font-size: 22px;
    }

    img {
      width: 170px;
    }

    &__item-container {
      column-gap: 30px;
      margin: 16px 0 10px;
    }

    &__item-count {
      padding: 10px 20px;
    }

    &__message {
      margin-top: 50px;
    }
  }

  @media (min-width: 1200px) {
    max-width: 950px;
    max-height: 680px;

    &__container {
      display: grid;
      grid-template: auto auto 1fr / 1.6fr 1fr;
      column-gap: 30px;
    }

    h2 {
      margin-top: 0;
      grid-area: 1 / 1 / 2 / -1;
      font-size: 24px;
      text-align: left;
    }

    &__item-container {
      grid-area: 2 / 2 / 3 / -1;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    img {
      width: 200px;
    }

    h3 {
      font-size: 18px;
    }

    &__item-count {
      width: 100%;
    }

    &__form-wrapper {
      grid-area: 2 / 1 / -1 / 2;
      margin-top: 40px;
    }

    &__form {
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 15px;
      font-size: 16px;
    }

    hr {
      margin-bottom: 45px;
    }

    &__text-small {
      margin-bottom: 30px;
      font-size: 15px;
    }

    a {
      margin-bottom: 10px;
      font-size: 16px;
    }

    &__submit {
      margin-top: 15px;
    }
  }

  @media (min-width: 1400px) {
    max-width: 1050px;
    max-height: 710px;

    &__container {
      column-gap: 45px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 17px;
    }

    &__text-small {
      font-size: 16px;
    }

    a {
      margin-bottom: 10px;
      font-size: 17px;
    }

    &__submit {
      margin-top: 25px;
    }
  }
}