.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.products {
    display: grid;
    align-content: start;
    gap: 10px;
}

.products_heading {
    margin-bottom: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: flex-end;

    border-bottom: 1px solid var(--gray-light);
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button svg {
    margin-left: 6px;
    margin-top: 3px;
    height: 16px;
    width: auto;
}

.select {
    order: 1;
    width: 100%;
}

@media (min-width: 340px) {
    .products {
        gap: 15px
    }
}

@media (min-width: 360px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }

    .products_heading {
        grid-column: 1 / -1;
    }
}

@media (min-width: 410px) {
    .products_heading {
        justify-content: space-between;
    }

    .select {
        order: unset;
        max-width: 260px;
    }
}

@media (min-width: 460px) {
    .select {
        max-width: 300px;
    }
}

@media (min-width: 576px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products {
        grid-template-columns: 1fr;
    }

    .products_heading {
        margin-bottom: 0;
    }

    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        gap: 25px;
    }
}