.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.products {
    display: grid;
    align-content: start;
    gap: 10px;
}

.products_heading {
    margin-bottom: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray-light);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button svg {
    margin-left: 15px;
    width: 15px;
}

@media (min-width: 340px) {
    .products {
        gap: 15px
    }
}

@media (min-width: 360px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }

    .products_heading {
        grid-column: 1 / -1;
    }

    .button {
        width: auto;
    }
}

@media (min-width: 576px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products {
        grid-template-columns: 1fr;
    }

    .products_heading {
        margin-bottom: 0;
    }

    .products_heading div {
        display: flex;
        gap: 10px;
    }

    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        gap: 25px;
    }
}